.error {
	color:red;
}

body{
	margin: 50px 0px auto auto;
	text-align: center;
	background-color: grey;
}

body, p, a, {
	font-family: 'Raleway', sans-serif !important;
}

.navbar-collapse {
    float: left;
    width: 100%;
    clear: both;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: -50px;
    }

@media only screen 
            and (max-device-width: 480px)
            and (orientation: portrait) {
                #dropdownMenuButtonAccount {
                    padding-bottom: 10px;
                }
                #dropDownMenuButtonCart {
                    margin-left: 0px;
                }
        }
}

