 <%- include('templates/header'); -%>				
 		
 		<main>
          
            <div class="jumbotron col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center" style="background-color: #ffff; border-style: solid; border-color: #e9ecef; width:50%; margin-bottom: 5px; margin-top: 50px;">

  			<form method="POST" class="was-validated" action="/register-account">
            <div class="text-center"><h1>Welcome<br></h1><h4>Create your new account</h4></div>
  					<div class="form-group" stlye="margin-top:20px;">
    					<label for="username">Username:</label>
    					<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
    					<div class="valid-feedback">Valid.</div>
    					<div class="invalid-feedback">Please fill out this field.</div>
  					</div>
  					<div class="form-group" style="padding-bottom: 15px">
    					<label for="password">Password:</label>
    						<input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
    						<div class="valid-feedback">Valid.</div>
    						<div class="invalid-feedback">Please fill out this field.</div>
    						<div><p>Make sure it's at least 6 characters, 
    						has a number, and has one special character.</p></div>
 				    </div>
  						<h5>Verify your Account</h5>
              <form action="?" method="POST">
  						<div style="padding-bottom: 20px" class="g-recaptcha" data-sitekey="6LfIstMZAAAAANii8kUXS09b84tPpTzafOOAXmj3"></div>
              <br/>
              <input type="submit" value="Submit">
              <div class="text-center">
  						<button style="margin-top: 15px" type="submit" class="btn btn-primary">Create Acount</button>
              </div>
              </form>
			</form>
      <script src=""
      </script>
			</div>
           
        </main>

<%- include('templates/footer'); -%>


