<%- include('templates/header'); -%>
        <main>
			<div id="content">
                <h2>Landing Page</h2>
                <div id="images">
	                <p id="p1"></p>
	                <p id="p2"></p>
	                <p id="p3"></p>
	                <script>
	                	// showImagesHome();
	                	showButtonImagesHome()
	                </script>
                </div>
			</div>
        </main>

<%- include('templates/footer'); -%>
