<%- include('templates/header'); -%>

	
        <main>
          
           <div id="content">
                <h2>Landing Page</h2>
                <h2>This will be the greatest webstore in history!!!
                 
          
        </main>


<%- include('templates/footer'); -%>
