<%- include('templates/header'); -%>

	
        <main>
          
           <div id="content">
                <h2>Hello Store</h2>
                 
          
        </main>


<%- include('templates/footer'); -%>
