<%- include('templates/header'); -%>

	
        <main>
          
           <div id="content">
                <h2>Hello Store</h2>
                <h2>This will be the greatest webstore in history!!!</h2>
                <h2>Hello Store</h2>
                <h2>Hello Store</h2>
                <h2>Hello Store</h2>
                <h2>Hello Store</h2>
                <h2>Hello Store</h2>
                <h1>Hello Store</h1>
                 
          
        </main>


<%- include('templates/footer'); -%>
