<%- include('templates/header'); -%>

	
        <main>
          
            <div id="content">
            <h1> Product Details </h1>

            </div>
                 
          
        </main>


<%- include('templates/footer'); -%>