<%- include('templates/header'); -%>
            <div id="content">
                <h1> Product Page </h1>
                <div id="images">
                    <script>
                        //get ID from route (not sure how to do this yet so testing with 'Core' )
                        showImages(<%=productID%>);

                        // testFun("hello there <%=productID%>");
                    </script>   
                    <div id="test"></div>
      
                </div>
            </div>
        </main>


<%- include('templates/footer'); -%>