<%- include('templates/header'); -%>
        <main>
            <div id="content">
            <h1> Product Details </h1>

            	<div id="image">
            		<img id="largeImage" src="<%=productPath + '.jpg'%> " ></div>
            	</div>

            </div>
        </main>

<%- include('templates/footer'); -%>