<%- include('templates/header'); -%>

            <div id="content">
                <h1> Product Page </h1>
                <div class="row"  id="images">
                    <script>
                        // showImages(<%=productID%>);
                        showImagesCards(<%=productID%>);
                    </script>   
                    <div id="test"></div>
                </div>
            </div>
        </main>

<%- include('templates/footer'); -%>