<%- include('templates/header'); -%>

	
        <main>
          
            <div id="content" style="margin: 40px;">
            <h1> User Profile </h1>
            <div class="row" style="margin-top:40px;">
            <div class="col-sm-1">
            <span style="font-size:64px;" class="far fa-user-circle"></span>
        	</div>
        	<div class="col-sm-11, float-left">
            <h4>Username</h4>
            <%=/* insert last or more of password after * */%>
            <p>Password: ***</p>
            </div>
        	</div>
            
                 
          
        </main>


<%- include('templates/footer'); -%>