<%- include('templates/header'); -%>

	
        <main>
          
            <div id="contentUser" style="margin: 40px;">
                <h1> User Profile </h1>
                <div class="row" style="margin-top:40px;">
                    <div class="col-sm-1">
                    <span style="font-size:64px;" class="far fa-user-circle"></span>
                    </div>
                    <div class="col-sm-11" id="userProfile">
                    <h4>Username:<%=locals.user.username%></br></h4>
                    <p>Password: <%=password%></p>
                    </div>
        	   </div>
            </div>
            
                 
          
        </main>


<%- include('templates/footer'); -%>