img {
    border: 1px solid #ddd; 
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right:40px;
}

#logo {
    box-shadow: none;
    border: none;
    height: 70px;
    width: 115px;
}

#team {
    box-shadow: none;
    border: none;
    height: 200px;
    width: 200px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.card{
    margin-left: 40px;
}

#largeImage {
    margin-right:40px;
    margin-left:10px;
    margin-bottom:10px;
    margin-top: 10px;
    width: 350px;
    height: 350px;
    box-shadow: none;
    border: none;
}

body, p, a, h1, h2, h3, h4 , h5, h6 {
    font-family: 'Raleway', sans-serif;
}


