		
		<footer class="footer" style="height: 40px; background-color: #f8f9fa; color: rgba(0,0,0,.5);">
			<div style="text-align: center; margin-left: auto; margin-right: auto;">
			<p style="padding-top: 15px;"><i class="fa fa-copyright"></i> 2020 bits & bots inc.</p>
			</div>
        </footer>
    <!-- This will call all of our self written functions js/app.js -->
    <script src="js/app.js" type="text/javascript"></script> 
</body>
</html>
