<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>bits & bots</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script>
    function onSubmit(token) {
      alert('thanks ' + document.getElementById('field').value);
    }

    function validate(event) {
      event.preventDefault();
      if (!document.getElementById('field').value) {
        alert("You must add text to the required field");
      } else {
        grecaptcha.execute();
      }
    }

    function onload() {
      var element = document.getElementById('submit');
      element.onclick = validate;
    }

    function 
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    </head>

    <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="images/Logo.png" id="logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CORE COMPONENTS</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/product-page?productID=CPU">CPUS</a>
                                <a class="dropdown-item" href="/product-page?productID=MOTHERBOARD">MOTHERBOARDS</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STORAGE DEVICES</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/product-page?productID=HARDDRIVES">HARD DRIVES</a>
                                <a class="dropdown-item" href="/product-page?productID=USB">USB DRIVES</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACCESSORIES</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/product-page?productID=CABLE">CABLES</a>
                                <a class="dropdown-item" href="/product-page?productID=ADAPTER">ADAPTERS</a>
                            </div>
                        </li>
                    </ul>

                    <!-- Adding this for the form submission -->
                    <form action="/search-action" method="get" class="form-inline my-2 my-lg-0">
                        
                        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->

                        <input id="search_field" type="text" name="search_field" placeholder="Search by Name" aria-label="Search" class="form-control mr-sm-2">
                        

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
                    
                    </form>

                    <!-- end of search functionality -->
                    
                    <div class="dropdown" style="padding-left: 10px">
                        <ul class="navbar-nav mr-auto">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-user-alt"></span>
                        <% if (locals.user === undefined) { %>
                            Account 
                        <%} else { %>
                            <%=locals.user.username%>
                        <%}%>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAccount">
                            <div class="row">
                                <div class="col text-center">
                                    <% if (locals.user === undefined) { %>
                                        <a class="dropdown-item, btn btn-outline-primary my-2 my-sm-0" href="/login">Login</a>   
                                        <a class="dropdown-item" style="text-decoration: underline; text-align: center;font-size: 0.75rem; color: #28a745" href="/create-account">Register</a>
                                    <% }else { %>
                                        <a class="dropdown-item, btn btn-outline-primary my-2 my-sm-0" href="/logout">Logout</a>   
                                        <a class="dropdown-item" style="text-decoration: underline; text-align: center;font-size: 0.75rem; color: #28a745" href="/user_profile">My Account</a>
                                    <%}%>
                                 </div>
                            </div>
                        </div>
                         <div class="dropdown-left" style="padding-left: 10px">
                        <ul class="navbar-nav mr-auto">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonCart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-shopping-cart" alt="shopping cart"></span> 
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="row">
                                <% if (locals.user === undefined) { %>
                                    <p class="dropdown-item" id="items" >Not Logged In%></p>
                                <%} else {%>
                                    <p class="dropdown-item" id="items" >Items: <%=locals.quantity%></p>
                                    <p class="dropdown-item" id="money" >Total: $<%=locals.total%></p>
                                <%} %>
                                <div class="col text-center">
                                    <a class="dropdown-item, btn btn-outline-primary my-2 my-sm-0" href="/shopping-cart">Checkout</a>   
                                </div>
                            </div>
                        </div>
                    </div>       
                </div>
            </nav>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </header>

    <!-- This will call all of our self written functions js/app.js -->
    <script src="js/app.js" type="text/javascript"></script> 

    <!-- This will connect all of our css rules to our pages  -->
    <link rel="stylesheet" href="css/app.css" type="text/css" />
<body>

	