<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" >
        <title> Project 2 CST438</title>
        <!-- Bootstrap Styles -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="app.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">

    </head>
    <body>		
        <header>
            <nav>
                <hr />
               	<a id="home" href="/">Home</a>
                <a href="/Store">Store</a>
                <a href="/Cart">Cart</a>
            </nav>
        </header>
	