<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" >
        <title> Project 2 CST438</title>
        <link rel="stylesheet" href="app.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    </head>
    <body>		
        <header>
            <nav>
                <hr />
               	<a id="home" href="/">Home</a>
                <a href="/Store">Store</a>
                <a href="/Cart">Cart</a>
            </nav>
        </header>
	